 body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 18px;
    padding: 0 2px;
} 

a {
    text-decoration: none;
}


.btn {
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}


.cancel__a {
    background-color: #A20021;
    color: white;
    margin-left: 50px;
}


.content {
    display: flex;
    flex-flow: row wrap;
}


.delete-confirm{
    background-color: #FF7F51;
    color: white;
    margin-left: 50px;
}


.edit_post_submit,
.new_post_submit {
    background-color: #38A700;
    color: white;
    cursor: pointer;
}

header {
    border-bottom: 1px solid #393E41;
    display: flex;
    font-size: 18px;
    margin-bottom: 2rem;
    padding: 10px 0;
}


input[type=submit] {
    border: none;
}

.greeting {
    display: flex;
    flex-flow: row wrap;
}

.greeting > div {
    color: #564138;
    font-style: italic;
    font-weight: bold;
}


.greeting a {
    margin-left: 980px;
}

.home__a {
    color: #393E41;
    font-size: 28px;
}



.login {
    background-color: #006D77;
    color: white;
}

.logout {
    background-color: #564138;
    color: white;

}



.new-post__a {
    background-color: #0061FF;
    color: white;
    margin-left: 30%;
}

.new-post__a a {
    color: white;

}
.post-delete__a {
    background-color: #30343F;
    color: white;
    margin-left: 500px;
}


.post-detail-btns {
    margin-top: 10%;
}

.post {
    width: 100%;
}

.post h2 a, 
.post h2 a:visited {
    color: #0061FF;
}

.post h2 a:hover {
    color:  #60EFFF;
}

.post-body {
    font-weight: 450;
}

.register {
    border-color: #F5F749;
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

.post-edit__a {
    background-color: #EE8434;
    color: white;
}
 



