{% extends "base.html" %}

{% block header %}
{% if user.is_authenticated %}

<div class="collapse navbar-collapse" id="navbarResponsive">
  <div class="text-muted">Bonjour {{ user.username }} !</div>
  <ul class="navbar nav text-uppercase ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="{% url "post_new" %}">New Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="{% url "logout" %}">Logout</a>
    </li>
  </ul>
</div>
{% else %}
<div class="collapse navbar-collapse" id="navbarResponsive">
  <div class="text-muted">Please login to add a post.</div>
  <ul class="navbar nav text-uppercase ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger p-0" style="color: white;" 
      href="{% url "login" %}">Login</a>
    </li>
  </ul>
</div>

{% endif %}


{% endblock header %}


{% block content %}


{% for post in object_list %}
<div >
  <h2>
    <a class="nav-link" href="{% url "post_detail" post.pk %}" 
     id="post-link">{{ post.title }}</a>
  </h2>
  <div >
    <h2>{{ post.body }}</h2>
  </div>
</div>

{% endfor %}
{% endblock content %}